@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  font-family: "Mulish", sans-serif;
}
body {
  background-color: #003049;
}
.navOptions {
  transition: all 0.2s;
}
nav {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
nav a {
  width: 100%;
  position: relative;
  transition: all 0.15s;
}
nav a::before {
  content: "";
  background-color: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  transform: scale(0);
  transition: all 0.3s;
}
nav a.active {
  color: rgb(72, 72, 206);
}
.image:hover .play {
  transform: scale(1);
}
.play {
  transition: all 0.15s;
}
.herosection-img {
  position: relative;
  padding: 5px;
}
/* .herosection-img img {
  width: ;
  height: 500px;
} */

.herosection-img::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.movie-div {
  left: 20%;
  bottom: -35%;
  box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.2);
  /* From https://css.glass */
  background: rgba(0, 48, 73, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(0, 48, 73, 0.4);
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #1d2b64 0%,
    #f8cdda 51%,
    #1d2b64 100%
  );
  margin: 10px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* From https://css.glass */
/* background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(255, 255, 255, 0.42); */

.lds-facebook,
.lds-facebook div {
  box-sizing: border-box;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(136, 29, 29);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
.loader-center {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
}
